canvas {
	display: inline-block !important;
	margin-bottom: 10px;
	padding: 10px;
}

#myChart-1+div {
	display: flex;
	justify-content: space-between;
}

.carditem {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#card-4 {
	padding: 20px;
	line-height: 1.5;
}